{% assign achievements = site.data.data.achievements %}
{% if achievements %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ achievements.title }}
  </h2>

  {% if achievements.intro %}
  <div class="intro">
      <p>{{ achievements.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for achievement in achievements.achievements %}
    <div class="item">

      <span class="project-title">
        {% if achievement.link %}
        <a href="{{ project.link }}" target="_blank">{{ achievement.title }}</a>
        {% else %}
        {{ achievement.title }}
        {% endif %}
      </span>

      {% if achievement.tagline %}
      - <span class="project-tagline">{{ achievement.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
