---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<meta charset="utf-8">
<title>Redirecting to https://cv.aothman.com/</title>
<meta http-equiv="refresh" content="0; URL=https://cv.aothman.com/">
<link rel="canonical" href="https://cv.aothman.com/">

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<Body>Domain changed to <a href="https://cv.aothman.com">https://cv.aothman.com</a></Body>
</html>

